
.header-wrapper {
    border: solid 1.5px rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 1rem;
    background-color: #f5f5f5;;
}
.navbar li {
    list-style: none;
}
.navbar a {
    text-decoration: none;
}
.navbar ul {
    padding: 0;
}

.nav-item {
    background-color:  #3B3B3B;
    width: 100%;
    transition: .5s ease;
    margin: 0;
    margin: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
    /* border: solid 3px red; */
}
.nav-link{
    font-size: 1.5rem;
    font-weight: 300;
    color: white;
}
.nav-item:hover{
    background-color: #f5f5f5;
}
.nav-item:hover a {
    color: black;
}
.nav-menu {
    display: none;
    margin: 0;
    flex-direction: column;
    justify-content: space-around;
    width: inherit;
    text-align: center;
    transition: 0.5s ease;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    margin-left: 1rem;
    margin-right: 1rem;
}
.nav-menu.active {
    display: flex;
    transition: .5s ease;
}
.nav-item.active{
    background-color: #f5f5f5;
}
.nav-item a.active {
    color: black;
}
#signup {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.main-wrapper {
    /* border: solid 1px red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.footer-wrapper {
    border: solid 1.5px rgb(0, 0, 0);
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #f5f5f5;
}
.header-wrapper #logo {
    border-radius: 2rem;
    margin-top: 5%;
}
.header-wrapper #heart {
    margin-top: 10%;
}
/* Ham menu animated */
.ham-menu {
    display: inline-block;
    cursor: pointer;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}
.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}
.change .bar2 {opacity: 0;}
.change .bar3 {
        transform: translate(0, -11px) rotate(45deg);
}
/* header css */
.header-wrapper h3 {
    text-transform: capitalize;
}

/* Title Content */
.title-img-container {
    display: flex;
    flex-direction: column;
    /* border: solid 1px red; */
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 1rem;
}
.title-h1 {
    width: 100%;
}
.title-h1 h1 {
    /* border: solid 1px red; */
    margin: 0;
    padding: 1rem;
    font-size: 3rem;
    font-weight: 500;
    background-color: #f5f5f5;;
    color: black;
    font-style: italic;
    text-align: center;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}
.title-img-container img {
    width: 100%;
    height: auto;
    margin-top: 0;
    box-shadow: 0 1rem 27px rgba(0, 0, 0, 0.05);
}
/* Slideshow container */
.slideshow-container {
    width: 100%;
    position: relative;
    margin: 0 auto;
}
/* Hide the images by default */
.mySlides {
    display: none;
    margin-bottom: 0;
}
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
.buttons-bottom {
    margin-top: -.3rem;
/* border: solid 1px red; */
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #f5f5f5;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.buttons-bottom a {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: solid 1px red; */
    padding: .3rem;
    padding-right: 1rem;
    padding-left: 1rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: .3s ease-in;
}
/* Data containers */
.data-wrapper {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f5f5f5;
    border-radius: 1rem;
    /* border: solid 1px red; */
}
.data-container {
    display: flex;
    flex-direction: row;
    /* border: solid 1px red; */
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}
.data-container span {
    font-weight: 800;
}
.social-media-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    max-height: 100px;
    padding: .2rem;
    /* border: solid 1px red; */
}
.footer-wrapper h2 {
    text-transform: capitalize;
}
.footer-wrapper span {
    font-size: 1rem;
    margin-right: 2.5rem;
    font-weight: 400;
    font-style: italic;
}
.footer-wrapper a {
    text-decoration: none;
    color: #3B3B3B;
}
.footer-wrapper a:visited {
    text-decoration: none;
    color: #3B3B3B;
}
.footer-wrapper img {
margin: 1px;
border-radius: 3rem;
box-shadow: 0 1rem 27px rgba(0, 0, 0, 0.05);
}
.contactus-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: 1rem;
    background-color: #f5f5f5;
    border-radius: 1rem;
    width: inherit;
}
.contactus-wrapper h1,h2,p{
    text-align: center;
}
.contactus-wrapper h1 {
    border-bottom: solid 2px #3B3B3B;
}
.contactus-wrapper p {
    font-size: 1.2rem;
}
.contactus-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}
.contactus-row figure {
    width: 100%;
    margin: 1rem;
}
.contactus-row img {
    width: 100%;
    height: auto;
    box-shadow: 0 1rem 27px rgba(0, 0, 0, 0.05);
}
.contactus-row figcaption {
    text-align: center;
    font-weight: 700;
    padding: 1rem;
}
@media only screen and (min-width: 800px) {
    .navbar {
        /* border: solid 1px red; */
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        border: 0;
        transition: .3s ease;
    }
    .nav-menu {
        /* background-color: blue; */
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 95%;
        transition: .3s ease;
        border: solid 1px #3B3B3B;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        
    }
    .nav-item {
        padding: 0;
        margin: 0;
        background-color: #f5f5f5;
    }
    .nav-item a {
        color: #3B3B3B;
    }
    .nav-item:hover {
        background-color:#3B3B3B;
    }
    .nav-item:hover a {
        color:#f5f5f5;
    }
    .nav-item.active{
        background-color: black;
    }
    .nav-item a.active {
        color: #f5f5f5;
    }
    #signup {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 1rem;
    }
    #home {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 1rem;
    }
    .ham-menu {
        display: none;
    }
    .data-wrapper {
        flex-direction: row;
        font-size: 1.3rem;
        text-align: justify;
    }
    .title-img-container h1 {
        background-color: #3B3B3B;
        color: white;
    }
    .buttons-bottom {
        padding: 0;
        font-size: 1.5rem;
    }
    .buttons-bottom a {
        height: 100%;
        width: 100%;
        padding: 1rem;
        background-color: #3B3B3B;
        color: white;
    }
    #one {
        border-bottom-left-radius: 1rem;
    }
    #two {
        border-bottom-right-radius: 1rem;
    }
    .buttons-bottom a:hover {
        background-color: #1c1c1cb3;
    }
    .data-container p {
        font-size: 1.7rem;
    }
    .data-container {
        flex-direction: column;
        padding: 2rem;
    }
}

@media only screen and (min-width: 1000px) {
    .social-media-wrapper {
        flex-direction: row;
        gap: 1rem;
    }
    .social-media-wrapper img {
        /* border: solid 1px red; */
        height: 4rem;
        width: 4rem;
        box-shadow: 0 1rem 27px rgba(0, 0, 0, 0.05);
    }
}

    