:root {
    --LightGray: #f5f5f5;      /* Light gray */
    --Black: rgb(0, 0, 0);  /* Black */
    --DarkGray: #3B3B3B;      /* Dark gray */
    --BlueCool: #337c94;      /* Blue */
    --BlueCoolLight: #337c94ad;    /* Blue with alpha */
}
.header-wrapper {
    border: solid 1.5px var(--Black);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 1rem;
    background-color: var(--LightGray);
}
.header-wrapper img:hover {
    opacity: 50%;
    transition: .2s ease-in;
}
.navbar li {
    list-style: none;
}
.navbar a {
    text-decoration: none;
}
.navbar ul {
    padding: 0;
}

.nav-item {
    background-color: var(--DarkGray);
    width: 100%;
    transition: .5s ease;
    margin: 0;
    margin: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
    /* border: solid 3px red; */
}
.nav-link{
    font-size: 1.5rem;
    font-weight: 300;
    color: white;
}
.nav-item:hover{
    background-color: var(--BlueCool);
}
.nav-item:hover a {
    color: var(--LightGray);
}
.nav-menu {
    display: none;
    margin: 0;
    flex-direction: column;
    justify-content: space-around;
    width: inherit;
    text-align: center;
    transition: 0.5s ease;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    margin-left: 1rem;
    margin-right: 1rem;
}
.nav-menu.active {
    display: flex;
    transition: .5s ease;
}
.nav-item.active{
    background-color: var(--BlueCoolLight);
}
.nav-item a.active {
    color: var(--LightGray);
}
#signup {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.main-wrapper {
    /* border: solid 1px red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.title-img-container.submit {
    background-color: var(--LightGray);
    width: 80%;
    padding: 1rem;
    text-align: center;
}
.return {
    padding:  1rem 2rem 1rem 2rem;
    border-radius: 1rem;
    background-color: var(--DarkGray);
    color: var(--LightGray);
}
.return:hover {
    background-color: #669261c9;
    transition: .3s ease;
}
.footer-wrapper {
    border: solid 1.5px var(--Black);
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: var(--LightGray);
}
.footer-wrapper-row {
    display: flex;
    flex-direction: column;
}
.footer-wrapper-row h3,a {
    text-align: center;
    padding: 0;
    margin: 0;
}
.footer-wrapper-row a{
    font-size: 1rem;
    font-style: italic;
    text-align: center;
    /* border: solid 1px red; */
}
.footer-wrapper-row a:hover {
    color: var(--BlueCool);
}
.header-wrapper #logo {
    border-radius: 2rem;
    margin-top: 5%;
}
.header-wrapper #heart {
    margin-top: 10%;
}
/* Ham menu animated */
.ham-menu {
    display: inline-block;
    cursor: pointer;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: var(--DarkGray);
    margin: 6px 0;
    transition: 0.4s;
}
.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}
.change .bar2 {opacity: 0;}
.change .bar3 {
        transform: translate(0, -11px) rotate(45deg);
}
/* header css */
.header-wrapper h3 {
    text-transform: capitalize;
}

/* Title Content */
.title-img-container {
    display: flex;
    flex-direction: column;
    /* border: solid 1px red; */
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 1rem;
}
.title-h1 {
    width: 100%;
}
.title-h1 h1 {
    /* border: solid 1px red; */
    margin: 0;
    padding: 1rem;
    font-size: 3rem;
    font-weight: 500;
    background-color: var(--LightGray);
    color: var(--Black);
    font-style: italic;
    text-align: center;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}
.title-img-container img {
    width: 100%;
    height: auto;
    margin-top: 0;
    box-shadow: 0 1rem 27px rgba(0, 0, 0, 0.05);
}
/* Slideshow container */
.slideshow-container {
    width: 100%;
    position: relative;
    margin: 0 auto;
}
/* Hide the images by default */
.mySlides {
    display: none;
    margin-bottom: 0;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
.buttons-bottom {
    margin-top: -.3rem;
    min-height: 3rem;
    /* border: solid 1px red; */
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--LightGray);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.buttons-bottom a {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: solid 1px red; */
    padding: .3rem;
    padding-right: 1rem;
    padding-left: 1rem;
    text-decoration: none;
    color: var(--Black);
    transition: .3s ease-in;
}
/* Data containers */
.data-wrapper {
    min-height: 5rem;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--LightGray);
    border-radius: 1rem;
    /* border: solid 1px red; */
}
.data-container {
    display: flex;
    flex-direction: row;
    /* border: solid 1px red; */
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}
.data-container span {
    font-weight: 800;
}
.social-media-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    max-height: 100px;
    padding: .2rem;
    /* border: solid 1px red; */
}
.footer-wrapper h2 {
    text-transform: capitalize;
}
.footer-wrapper span {
    font-size: 1rem;
    margin-right: 2.5rem;
    font-weight: 400;
    font-style: italic;
}
.footer-wrapper a {
    text-decoration: none;
    color: var(--DarkGray);
}
.footer-wrapper a:visited {
    text-decoration: none;
    color: var(--DarkGray);
}
.footer-wrapper img {
margin: 1px;
border-radius: 3rem;
box-shadow: 0 1rem 27px rgba(0, 0, 0, 0.05);
}
.contactus-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: 1rem;
    background-color: var(--LightGray);
    border-radius: 1rem;
    width: inherit;
}
.contactus-wrapper h1,h2,p{
    text-align: center;
}
.contactus-wrapper h1 {
    border-bottom: solid 2px var(--DarkGray);
}
.contactus-wrapper p {
    font-size: 1rem;
    font-style: italic;
}
.contactus-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    /* border: solid 1px red; */
}
.contactus-row figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 1rem auto;
    /* border: solid 1px red; */
    padding: 0;
}
.contactus-row img {
    width: 80%;
    height: auto;
    align-self: center;
    box-shadow: 0 1rem 27px rgba(0, 0, 0, 0.05);
    margin: 1rem auto;
    /* border: solid 1px red; */
}
.contactus-row figcaption {
    text-align: center;
    font-weight: 700;
    width: inherit;
}
.form {
    background-color: var(--LightGray);
    padding: 1rem;
    border-radius: 1rem;
    max-width: 80%;
    border: solid 2px var(--DarkGray);
}
.form h1 {
    color:var(--DarkGray);
    border-bottom: solid 2px var(--DarkGray);
}
form {
    display: flex;
    flex-direction: column;
    width: auto;
    /* border: solid 1px red; */
    padding: 1rem;
}
form label {
    color: #3b3b3b;
    font-size: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
}
form input {
    border-radius: 1rem;
    padding: 1rem;
}
form input:focus {
    background-color: rgb(255, 200, 200);
    transition: .3s ease;
}
form input:invalid {
    border-bottom: .3rem solid red;
}
form textarea {
    border-radius: 1rem;
    padding: 1rem;
    transition: .3s ease;
}
form textarea:invalid {
    border-bottom: .4rem solid red;
    transition: .3s ease;
}
form textarea:focus {
    background-color: rgb(255, 200, 200);
    transition: .3s ease;
}
form input[type='email']:valid {
    border-bottom: .3rem solid rgb(200, 255, 237);
    transition: .3s ease;
}
form input[type='text']:valid {
    border-bottom: .3rem solid rgb(200, 255, 237);
    transition: .3s ease;
}
form textarea:valid {
    border-bottom: .4rem solid rgb(200, 255, 237);
    transition: .3s ease;
}
form select:valid {
    border-bottom: .3rem solid rgb(200, 255, 237);
    transition: .3s ease;
}
form input[type="submit"]{
    margin-top: 4rem;
    font-size: 1.4rem;
    font-weight: 400;
    transition: .4s ease;
    background-color: rgb(232, 255, 244);
    color: var(--DarkGray);
    border: solid 2px var(--DarkGray);

}
form input[type="submit"]:hover{
    background-color: rgb(82, 206, 165);
    color: white;
    transition: .4s ease;
}
form select {
    font-size: 1rem;
    margin-bottom: 1rem;
    padding: .5rem;
    border-radius: 1rem;
    transition: .3s ease;
}
form select:invalid {
    border-bottom: .3rem solid red;
    transition: .3s ease;
}
@media only screen and (min-width: 800px) {
    .navbar {
        /* border: solid 1px red; */
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        border: 0;
        transition: .3s ease;
    }
    .nav-menu {
        /* background-color: blue; */
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 95%;
        transition: .3s ease;
        border: solid 1px var(--DarkGray);
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        
    }
    .nav-item {
        padding: 0;
        margin: 0;
        background-color: var(--LightGray);
    }
    .nav-item a {
        color: var(--DarkGray);
    }
    .nav-item:hover {
        background-color:var(--BlueCoolLight);
    }
    .nav-item:hover a {
        color:var(--LightGray);
    }
    .nav-item.active{
        background-color: var(--BlueCool);
    }
    .nav-item a.active {
        color: var(--LightGray);
    }
    #signup {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 1rem;
    }
    #home {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 1rem;
    }
    .ham-menu {
        display: none;
    }
    .data-wrapper {
        flex-direction: row;
        font-size: 1.3rem;
        text-align: justify;
    }
    .title-img-container h1 {
        background-color: var(--DarkGray);
        color: white;
    }
    .buttons-bottom {
        padding: 0;
        font-size: 1.5rem;
    }
    .buttons-bottom a {
        height: 100%;
        width: 100%;
        padding: 1rem;
        background-color: var(--DarkGray);
        color: white;
    }
    #one {
        border-bottom-left-radius: 1rem;
    }
    #two {
        border-bottom-right-radius: 1rem;
    }
    .buttons-bottom a:hover {
        background-color: var(--DarkGray);
    }
    .data-container p {
        font-size: 1.7rem;
    }
    .data-container {
        flex-direction: column;
        padding: 2rem;
    }
    .social-media-wrapper img:hover {
        opacity: 50%;
        transition: .2s ease-in;
    }
    .contactus-wrapper p {
        font-size: 2rem;
        font-style: italic;
    }
        /* Code for the overlay effect */
    .text {
        white-space: nowrap; 
        color: white;
        font-size: 1.5rem;
        position: absolute;
        overflow: hidden;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }
    .container:hover .overlay {
        bottom: 10%;
        height: 80%;
    }
    .overlay {
        position: absolute;
        bottom: 90%;
        left: 0;
        right: 0;
        background-color: var(--BlueCool);
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: .5s ease;
        opacity: 95%;
        /* border-radius: 50%; */
        box-shadow: 0 1rem 27px rgba(0, 0, 0, 0.05);
    }
    .container {
        position: relative;
        width: 50%;
    }
}

@media only screen and (min-width: 1000px) {
    .social-media-wrapper {
        flex-direction: row;
        gap: 1rem;
    }
    .social-media-wrapper img {
        /* border: solid 1px red; */
        height: 4rem;
        width: 4rem;
        box-shadow: 0 1rem 27px rgba(0, 0, 0, 0.05);
    }
    .contactus-wrapper h2 {
        font-size: 2rem;
    }
    .form {
        background-color: #ffffff;
        width: 40%;
        padding: 2rem;
        border: solid 2px var(--DarkGray);
    }
    .form h1 {
        color: var(--DarkGray);
        border-bottom: solid 2px var(--DarkGray);
    }
    form {
        height: auto;
    }
    form label {
        color: var(--DarkGray);
        font-size: 1.5rem;
    }
    input[type="submit"]{
        border-radius: 0;
        border: 0;
    }
    .contactus-row figure {
        display: block;
        width: 100%;
        /* border: solid 1px red; */
        justify-content: center;
    }
    .contactus-row img {
        width: 100%;
        /* border: solid 1px red; */
    }
    .contactus-row figcaption {
        font-size: 1.5rem;
    }
    .container:hover .overlay{
        bottom: 5%;
        height: 90%;
    }
    .footer-wrapper h3, .header-wrapper h3 {
        font-size: 2rem;
    }
}

    